# in part taken from martina's code
matplotlib
numpy~=1.26.3
jupyterlab
pandas~=2.1.4
seaborn
scipy

einops
scikit-learn
timm == 0.6.12
tqdm == 4.64.1
torch == 1.13.1
transformers~=4.32.1
torchvision~=0.16.2
pillow~=10.0.1
setuptools~=68.2.2

torch-lucent @ git+https://github.com/SoulofAkuma/lucent-cluster